
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700); */
.CardColumns{
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 229, 181);
    box-shadow:2px 3px 4px  rgba(0, 0, 0, 0.863) ;
    
}

.title{
    font-size: 30px;
    /* font-weight: 200; */
    font-family: 'Gill Sans' , sans-serif;
    padding: 8px;

}


.img{
    border-radius: 5px;
    box-shadow: 2px 3px 4px 5px rgba(46, 46, 44, 0.863);
    width: 100%;
    height: 30rem;
}

.cardpg{
    width: 1000px;
    box-shadow:  2px 3px 3px black;
}

.auther{
    float: right;
    font-family: fantasy;
    text-shadow: 2px 3px 4px #381c1c;
    font-size: 16px;
}
.desc{
    font-size:20px;
    padding-left: 15px;
    font-weight: 100;
    font-family: Blippo ;
    
}
.published{
    font-size: 15px;
    padding-left: 12px;
    font-family: cursive;
}
.published span{
    
    font-family: Blippo ;
}

#text{
  
    font-size:4em;
    font-weight:bold;
    background-color: #cc9405;
      background-image: linear-gradient(-75deg, transparent 0, transparent 5%, #f7ce54 5%, #f8d25f 10%, transparent 10%, transparent 100%);
      background-size: 200% 100%;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    animation:shine 2s linear infinite;
  }
  @keyframes shine{
    100%{
      background-position: -120% 0;
    }
}
#textmain{
  
    font-size:3em;
    font-weight:bold;
    background-color: #cc9405;
      background-image: linear-gradient(-75deg, transparent 0, transparent 5%, #f7ce54 5%, #f8d25f 10%, transparent 10%, transparent 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation:shine 2s linear infinite;
    padding-left: 75px;
    margin-bottom: -100px;
  }
  @keyframes shine{
    100%{
      background-position: -120% 0;
    }
}

.imgmain{
    width: 100%;
    height: 30rem;
    /* border-radius: 25%; */
    /* opacity: .7; */
    box-shadow: 3px 4px 5px 5px floralwhite;
    
}
.main{
    color: #cc9405;
    font-family:'Gill Sans' , sans-serif;
    font-size: 20px;
}
.footer{
    margin: 5px;
    font-size: 25px;
    color: black;
}
.bgfooter{
    background-color:#cc9405;
    
}

.cardapi img{
    height: 250px;
    
}
.cardapi p{
    height: 110px;
}
.maindisc{
    color: rgb(255, 229, 181);
    font-size: 15px;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
}
.formcontact{
    color: rgb(255, 229, 181);
}

.vision{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px;
}
.imge{
   border: 2px solid black;
}

.updatcolor label{
    color: black;
}
